/* .a1 {
  background-color:  #98d98e;
  height: 120px;
  padding: 20px;
}
.b1 {
  background-color:  #e4de8a;
  padding-left: 20px;
  height: 40px;
  text-align:left;
  font-size: 18pt
} */

body {
    background-color: #FFFFDD;
}