{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block extrahead %}
    <link href="{% static 'test.css' %}?{{now}}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <a href="./test">戻る</a>
    <p>このページで学べたこと</p>
    <ul>
        <li>forms.pyからフォーム情報の生成方法</li>
        <li>POSTデータの受け取り(views.py)</li>
        <li>DBへのデータ登録</li>
        <li>リダイレクト処理</li>
    </ul>
    <h1>{{ title }}</h1>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        名前: {{ form.name }}</br>
        性別:
        <label>
            <input type="radio" name="gender" value="0" required id="id_gender" selected>男性
        </label>
        <label>
            <input type="radio" name="gender" value="1" required id="id_gender">女性</br>
        </label>
        年齢: {{ form.age }}</br>
        <!-- 年齢: {{ form.updated_at }}
        年齢: {{ form.created_at }}
        年齢: {{ form.deleted_at }} -->
        <!-- <input type="hidden" name="form_id" value="{{ form.form_id }}"/> -->
        <input type="submit" value="登録"/>
    </form>
</body>
</html>