{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 変数は二重括弧で利用できる -->
    <title>{{lang}}({{flame}})</title>
    {% block extrahead %}
    <link href="{% static 'test.css' %}?{{now}}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <p>ここは{{lang}}({{flame}})の基本技術を学ぶために作成したページです。</p>
    <a href="https://gitlab.com/MIMURA365/mimura-python/tree/master/test/" target="_blank">Gitlabソースコード</a>
    <p>このページで学べたこと</p>
    <ul>
        <li>PythonでのWEBサイト作成方法</li>
        <li>urls.py,views.pyの役割・関係性</li>
        <li>変数の利用方法</li>
        <li>CSSの読み込み方法</li>
        <li>現在日時用のdatetimeオブジェクト取得</li>
    </ul>

    <p>その他の習得技術は下記リンクから</p>
    <ul>
        <li><a href="test">DB接続方法 情報取得・登録 (MySQL)</a></li>
    </ul>
</body>
</html>