{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block extrahead %}
    <link href="{% static 'test.css' %}?{{now}}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <a href="/test/">戻る</a>
    <p>このページで学べたこと</p>
    <ul>
        <li>新規ページ作成方法(追加画面数分urls.pyとviews.pyに追記する必要がある)</li>
        <li>ライブラリmysql-connector-pythonを用いてPythonでのMySQL接続</li>
        <li>既存DBからmodels.pyに記載するモデル定義情報を自動で生成することができる(コマンド：$ python3 manage.py inspectdb table member)</li>
        <li>PHPのModelとは異なり、Python(Django)のmodels.pyにはテーブル情報を記載し、マイグレーションを行いDB側に反映させる必要がある</br>
            そのため、models.pyにはDBのテーブル情報がすべて記載されていることになる</li>
    </ul>
    <h1>{{ title }}</h1>
    <a href="../create">登録画面</a>
    <table>
    {% for item in data %}
    <tr>
        <td>{{ item.name }}</td>
        <td>
            <!-- int型の0を表示させた場合、Noneと表示されるため、Noneだった場合にFalseとする -->
            {% if item.gender|default_if_none:False == False %}男性{% endif %}
            {% if item.gender == True %}女性{% endif %}
        </td>
        <td>{{ item.age }}</td>
    <tr>
    {% endfor %}
    </table>
</body>
</html>